<section id="hero" class="relative ">
    <img class="w-full h-[90vh]" src="<%= image_path('heroimagetwo.jpeg') %>">
    <p class="text-white absolute top-0 text-4xl font-staatliches w-1/3 m-10">Full stack software engineer with a lean towards back end technologies and a passion for rails.</p>
</section>

<section id="about" class="flex bg-black">
    <img class="w-1/5 h-1/5 m-10 rounded-[50%] border-2 border-white" src="<%= image_path('croppedshot.jpg') %>"/>
    <div class="font-mono text-white m-10">
        <h1 class="text-2xl">Hi. My name is Declan Noetzelman.</h1>
        <br>
        <p>
            A software engineer based out of Sanford, NC. I'm a FullStack Academy graduate and lover of all things ruby on rails and back end related. Although from the curriculum I learned the PERN stack, I discovered Ruby on Rails when researching new technologies for my first big solo project and found I enjoyed working with it more than anything else. 
        </p>
        <br>
        <p>
            Prior to starting my career in software engineering, I served in the United States Army as an airborne infantryman in the 2-501st, 1 BCT, 82nd Airborne. I deployed to Afghanistan in 2021 to secure Hamid Karzai international airport and facilitate the withdrawal, and was honorably discharged in December 2022. 
        </p>
        <br>
        <p>
            During my free time, I'm typically spending time with my family, working on an idea for one of my many side projects, or raiding with my World of Warcraft guild.
        </p>
    </div>
</section>

<section class="">
    <div id="portfolio" class="m-10 flex">
        <pre class="bg-black w-1/2">
            <code class="text-white">
    1     &lt;div id=&quot;<span class="text-green-300">resume-container</span>&quot;&gt;
    2        &lt;ul id=&quot;<span class="text-red-500">hard</span>&quot; class=&quot;<span class="text-red-500">skills</span>&quot;&gt;
    3            &lt;li&gt;<span class="text-yellow-300">React</span>&lt;/li&gt;
    4            &lt;li&gt;<span class="text-yellow-300">Express.js</span>&lt;/li&gt;
    5            &lt;li&gt;<span class="text-yellow-300">Node.js</span>&lt;/li&gt;
    6            &lt;li&gt;<span class="text-yellow-300">PostgreSQL</span>&lt;/li&gt;
    7            &lt;li&gt;<span class="text-yellow-300">Ruby on Rails</span>&lt;/li&gt;
    8            &lt;li&gt;<span class="text-yellow-300">Sequelize</span>&lt;/li&gt;
    9            &lt;li&gt;<span class="text-yellow-300">Tailwind</span>&lt;/li&gt;
    10           &lt;li&gt;<span class="text-yellow-300">Authentication</span>&lt;/li&gt;
    11           &lt;li&gt;<span class="text-yellow-300">Test Driven Development</span>&lt;/li&gt;
    12       &lt;/ul&gt;
    13       &lt;ul id=&quot;<span class="text-red-500">soft</span>&quot; class=&quot;<span class="text-red-500">skills</span>&quot;&gt;
    14           &lt;li&gt;<span class="text-yellow-300">Communication</span>&lt;/li&gt;
    15           &lt;li&gt;<span class="text-yellow-300">Teamwork</span>&lt;/li&gt;
    16           &lt;li&gt;<span class="text-yellow-300">Problem Solving</span>&lt;/li&gt;
    17           &lt;li&gt;<span class="text-yellow-300">Time Management</span>&lt;/li&gt;
    18           &lt;li&gt;<span class="text-yellow-300">Adaptability</span>&lt;/li&gt;
    19           &lt;li&gt;<span class="text-yellow-300">Work Ethic</span>&lt;/li&gt;
    20           &lt;li&gt;<span class="text-yellow-300">Leadership</span>&lt;/li&gt;
    21           &lt;li&gt;<span class="text-yellow-300">Attention to Detail</span>&lt;/li&gt;
    22           &lt;li&gt;<span class="text-yellow-300">Flexibility</span>&lt;/li&gt;
    23           &lt;li&gt;<span class="text-yellow-300">Dependability</span>&lt;/li&gt;
    24       &lt;/ul&gt;
                <%# 25    &lt;/section&gt; %>
            </code>
        </pre>
        <p class="w-1/2 flex justify-center items-center text-8xl font-staatliches text-center ">
            Hard skills
            <br>
            &
            <br>
            Soft skills
        </p>
    </div>
    <div class="m-10 flex flex-row-reverse ">
        <pre class="bg-black w-3/5">
            <code class="text-white w-1/2">
    26       &lt;section id=&quot;<span class="text-green-300">projects</span>&quot;&gt;
    27            &lt;div&gt;
    28                &lt;h1&gt;<span class="text-red-500">Project One</span>&lt;/h1&gt;
    29                &lt;p&gt;
    30                    <span class="text-yellow-300">Lorem ipsum dolor sit amet, consectetur 
                          adipiscing elit, sed do eiusmod tempor 
                          incididunt ut labore et dolore magna aliqua. 
                          Ut enim ad minim veniam, quis nostrud 
                          exercitation ullamco laboris nisi ut aliquip 
                          ex ea commodo consequat. Duis aute irure 
                          dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. 
                          Excepteur sint occaecat cupidatat non proident, 
                          sunt in culpa qui officia deserunt mollit anim 
                          id est laborum.</span>
    31                &lt;/p&gt;
    32                &lt;a href=&quot;<a href="#" class="text-blue-400 underline hover:text-purple-400">https://www.github.com</a>&quot;&gt;<span class="text-blue-400">Github Repo</span>&lt;/a&gt;
    33            &lt;/div&gt;
    34            &lt;div&gt;
    35                &lt;h1&gt;<span class="text-red-500">Project Two</span>&lt;/h1&gt;
    36                &lt;p&gt;
    37                    <span class="text-yellow-300">Lorem ipsum dolor sit amet, consectetur 
                          adipiscing elit, sed do eiusmod tempor 
                          incididunt ut labore et dolore magna aliqua. 
                          Ut enim ad minim veniam, quis nostrud 
                          exercitation ullamco laboris nisi ut aliquip 
                          ex ea commodo consequat. Duis aute irure 
                          dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. 
                          Excepteur sint occaecat cupidatat non proident, 
                          sunt in culpa qui officia deserunt mollit anim 
                          id est laborum.</span>
    38                &lt;/p&gt;
    39                &lt;a href=&quot;<a href="#" class="text-blue-400 underline hover:text-purple-400">https://www.github.com</a>&quot;&gt;<span class="text-blue-400">Github Repo</span>&lt;/a&gt;
    40            &lt;/div&gt;
    41            &lt;div&gt;
    42                &lt;h1&gt;<span class="text-red-500">Project Three</span>&lt;/h1&gt;
    43                &lt;p&gt;
    44                    <span class="text-yellow-300">Lorem ipsum dolor sit amet, consectetur 
                          adipiscing elit, sed do eiusmod tempor 
                          incididunt ut labore et dolore magna aliqua. 
                          Ut enim ad minim veniam, quis nostrud 
                          exercitation ullamco laboris nisi ut aliquip 
                          ex ea commodo consequat. Duis aute irure 
                          dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. 
                          Excepteur sint occaecat cupidatat non proident, 
                          sunt in culpa qui officia deserunt mollit anim 
                          id est laborum.</span>
    45                &lt;/p&gt;
    46                &lt;a href=&quot;<a href="#" class="text-blue-400 underline hover:text-purple-400">https://www.github.com</a>&quot;&gt;<span class="text-blue-400">Github Repo</span>&lt;/a&gt;
    47            &lt;/div&gt;
    48        &lt;/section&gt;
            </code>
        </pre>
        <div class="flex flex-col w-1/2 justify-evenly">
            <img class="h-1/4 mx-10" src="<%= image_path('codingimage.jpeg') %>">
            <img class="h-1/4 mx-10" src="<%= image_path('codingimage.jpeg') %>">
            <img class="h-1/4 mx-10" src="<%= image_path('codingimage.jpeg') %>">
        </div>
    </div>
    
    <div class="m-10 flex">
        <pre class="w-3/5 bg-black">
            <code class="text-white">
    49       &lt;section id=&quot;<span class="text-green-300">experience_education</span>&quot;&gt;
    50            &lt;div&gt;
    51                &lt;h1&gt;<span class="text-red-500">Freelance Work</span>&lt;h1&gt;
    52                &lt;p&gt;
    53                    <span class="text-yellow-300">Began my professional career building a website
                          for a local small business. They required a 
                          website that was easy to navigate and had a 
                          modern look that drew customers in. To build 
                          the website, I had a mobile first mindset and 
                          used React.js, Tailwind, and Ruby on Rails. This 
                          initial experience gave me confidence in my 
                          abilities as a professional and taught me how to 
                          communicate effectively with clients to deliver 
                          the desired product in a timely manner.</span>
    54                &lt;/p&gt;
    55            &lt;/div&gt;
    56            &lt;div&gt;
    57                &lt;h1&gt;<span class="text-red-500">Airborne Infantryman</span>&lt;/h1&gt;
    58                &lt;p&gt;
    59                    <span class="text-yellow-300">Served as an Airborne Infantryman in the United 
                          States Army. This experience taught me the 
                          importance of teamwork and communication. I was 
                          responsible for the safety of my team and the 
                          completion of the mission. I learned how to work 
                          under pressure and how to adapt to changing 
                          situations.</span>
    60                &lt;/p&gt;
    61            &lt;/div&gt;
    62            &lt;div&gt;
    63                &lt;h1&gt;<span class="text-red-500">Junior Network Engineer</span>&lt;/h1&gt;
    64                &lt;p&gt;
    65                    <span class="text-yellow-300">Worked as a Junior Network Engineer for Desert 
                          Winds Wireless. I was responsible for the 
                          installation and maintenance of network 
                          infrastructure in addition to customer service 
                          and sales. This experience taught me the 
                          importance of attention to detail and the 
                          ability to work independently.</span>
    66                &lt;/p&gt;
    67            &lt;/div&gt;        
    68            &lt;div&gt;
    69                &lt;h1&gt;<span class="text-red-500">Fullstack Academy</span>&lt;/h1&gt;
    70                &lt;p&gt;
    71                    <span class="text-yellow-300">Attended Fullstack Academy, a 19 week immersive 
                          coding bootcamp. I learned how to code in a team 
                          environment and how to communicate my ideas 
                          effectively to my peers. I learned how to learn 
                          and how to solve problems. I learned how to build 
                          fullstack applications using React.js, Express.js, 
                          Node.js, and PostgreSQL.</span>
    72                &lt;p&gt;
    73            &lt;/div&gt;
    74        &lt;/section&gt;
    75    &lt;/div&gt;
            </code>
        </pre>
        <p class="w-2/5 flex justify-items-end items-center text-8xl font-staatliches text-center ">Experience and Education</p>
    </div>
</section>

    